In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv")
df.head()

                  time  이화동강수  이화동기온  수영동강수  수영동기온
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3  2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4  2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

# Q1. 여름철(6월,7월,8월) 이화동이 수영동보다 높은 기온을 가진 시간대는 몇개인가?

In [4]:
df['time'] =pd.to_datetime(df['time'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    8784 non-null   datetime64[ns]
 1   이화동강수   8784 non-null   float64
 2   이화동기온   8784 non-null   float64
 3   수영동강수   8784 non-null   float64
 4   수영동기온   8784 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 343.2 KB

In [14]:
tmp = df[df['time'].dt.month.isin([6,7,8])]

In [17]:
sum(tmp['이화동기온']>tmp['수영동기온'])

1415

In [19]:
summer = df.loc[df.time.dt.month.isin([6, 7, 8])].reset_index(drop=True)

In [21]:
answer = len(summer.loc[summer['이화동기온'] > summer['수영동기온']])

In [22]:
print(answer)

1415

# 2. 이화동과 수영동의 최대강수량의 시간대를 각각 구하여라

In [75]:
a1=df.iloc[df[(df['이화동강수'] == df['이화동강수'].max())].index[0]].time

In [76]:
a2=df.iloc[df[(df['수영동강수'] == df['수영동강수'].max())].index[0]].time

In [77]:
print(a1, a2)

2020-09-30 09:00:00 2020-07-23 12:00:00

In [67]:
answer1 = df.loc[df['이화동강수'] == df['이화동강수'].max()].time.values

In [68]:
answer2 = df.loc[df['수영동강수'] == df['수영동강수'].max()].time.values

In [69]:
print(answer1, answer2)

['2020-09-30T09:00:00.000000000'] ['2020-07-23T12:00:00.000000000']

---

In [78]:
pd.set_option('display.max_columns',50)
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv",encoding='latin',sep=';')
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,0.439,0.8,2.1,0.359,2.9,6.1,0.468,0.486,1.1,1.8,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,0.547,0.0,0.0,0.000,2.8,5.0,0.548,0.547,1.4,2.6,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,0.557,0.0,0.1,0.000,7.3,12.9,0.562,0.557,4.6,6.1,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,0.402,0.2,1.5,0.125,1.5,2.6,0.560,0.424,0.6,1.0,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,0.550,0.3,1.0,0.304,5.1,8.8,0.578,0.566,1.9,2.2,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

# 1. Tm 컬럼은 각 팀의 이름을 의미한다. TOR팀의 평균나이를 소수 4째 자리까지 구하여라

In [81]:
df.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [86]:
round(df[df['Tm'] == 'TOR']['Age'].mean(),4)

24.8696

In [87]:
result = round(df[df.Tm == 'TOR'].Age.mean(), 4)
print(result)

24.8696

# 2. Pos 컬럼은 포지션을 의미한다. 전체 선수 중 최소나이대의 선수들을 필터하고 그들 중 가장 많은 포지션은 무엇인지 확인하라

In [104]:
print(df[df.Age == df.Age.min()].Pos.value_counts().sort_values(ascending=False)[:1].index[0])

SG

In [108]:
result = df[df.Age == df.Age.min()].Pos.value_counts().index[0]

In [109]:
print(result)

SG

# 3. 선수들의 이름은 first_name+ 공백 + last_name으로 이루어져 있다. 가장 많은 first_name은 무엇이며 몇 회 발생하는지 확인하라

In [118]:
df['Player'].str.split()

0       [Precious, Achiuwa]
1           [Steven, Adams]
2            [Bam, Adebayo]
3           [Santi, Aldama]
4      [LaMarcus, Aldridge]
               ...
807       [Thaddeus, Young]
808           [Trae, Young]
809       [Omer, Yurtseven]
810          [Cody, Zeller]
811          [Ivica, Zubac]
Name: Player, Length: 812, dtype: object

In [127]:
df['Player'].str.split().str[0].str.lower().value_counts().head(1)

justin    14
Name: Player, dtype: int64

# 4. PTS컬럼은 경기당 평균득점수 이다. 각포지션별로 경기당 평균득점수의 평균을 구하여라

In [129]:
df.groupby(['Pos'])['PTS'].mean().sort_values()

Pos
SF        7.270253
SG-SF     7.360000
C         7.690769
PF        7.737500
SG        7.810553
PG        8.325161
PF-SF     8.500000
SF-SG     8.660000
SG-PG     9.525000
C-PF     12.850000
PG-SG    22.000000
Name: PTS, dtype: float64

# 5. G컬럼은 참여한 경기의 숫자이다. 
각 팀별로 가장 높은 경기참여 수를 가진 선수들의  
경기 참여 숫자의 평균을 구하여라

In [134]:
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,0.439,0.8,2.1,0.359,2.9,6.1,0.468,0.486,1.1,1.8,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,0.547,0.0,0.0,0.000,2.8,5.0,0.548,0.547,1.4,2.6,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,0.557,0.0,0.1,0.000,7.3,12.9,0.562,0.557,4.6,6.1,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,0.402,0.2,1.5,0.125,1.5,2.6,0.560,0.424,0.6,1.0,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,0.550,0.3,1.0,0.304,5.1,8.8,0.578,0.566,1.9,2.2,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

In [165]:
tmp = pd.DataFrame(df.groupby(['Tm','Player'])['G'].sum()).reset_index()

In [168]:
tmp

      Tm              Player   G
0    ATL   Bogdan Bogdanovi?  63
1    ATL         Cam Reddish  34
2    ATL      Cameron Oliver   2
3    ATL          Cat Barber   3
4    ATL  Chaundee Brown Jr.   3
..   ...                 ...  ..
807  WAS   Spencer Dinwiddie  44
808  WAS       Thomas Bryant  27
809  WAS    Tomá Satoransk?  22
810  WAS      Tremont Waters   1
811  WAS    Vernon Carey Jr.   3

[812 rows x 3 columns]

In [170]:
tmp.groupby(['Tm'])['G'].max().mean()

77.51612903225806

In [175]:
df.sort_values(['Tm','G']).groupby('Tm').tail(1).G.mean()

77.51612903225806

# 6. Tm의 값이 MIA이며 Pos는 C또는 PF인 선수의 MP값의 평균은?

In [195]:
df.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [202]:
df[(df.Tm == 'MIA') & ((df['Pos'] == 'C') | (df['Pos'] == 'PF'))]['MP'].mean()

16.7875

In [204]:
print(df[(df.Tm == 'MIA') & (df.Pos.isin(['C', 'PF']))].MP.mean())

16.7875

# 7. 전체 데이터중 G의 평균값의 1.5배 이상인 데이터들만 추출했을때 3P값의 평균은?

In [213]:
iqr = 1.5 * (df.describe().T.loc['G']['mean'])

In [215]:
df[df.G >= iqr]['3P'].mean()

1.3853658536585365

In [216]:
df[df.G >=df.G.mean()*1.5]['3P'].mean()

1.3853658536585365

# 8. Age의 평균 이상인 그룹과 평균 미만인 그룹간의 G값의 평균의 차이는?

In [219]:
mean_over = df[df.Age >= df.Age.mean()]

In [220]:
mean_under = df[df.Age < df.Age.mean()]

In [223]:
mean_over.G.mean() - mean_under.G.mean()

3.787674551781862

# 9. 평균나이가 가장 젊은 팀은 어디인가

In [225]:
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,0.439,0.8,2.1,0.359,2.9,6.1,0.468,0.486,1.1,1.8,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,0.547,0.0,0.0,0.000,2.8,5.0,0.548,0.547,1.4,2.6,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,0.557,0.0,0.1,0.000,7.3,12.9,0.562,0.557,4.6,6.1,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,0.402,0.2,1.5,0.125,1.5,2.6,0.560,0.424,0.6,1.0,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,0.550,0.3,1.0,0.304,5.1,8.8,0.578,0.566,1.9,2.2,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

In [232]:
df.groupby('Tm')['Age'].mean().sort_values().head(1).index[0]

'MEM'

# 10. Pos그룹별 평균 MP값을 구하여라

In [234]:
df.groupby(['Pos'])['MP'].mean()

Pos
C        16.990000
C-PF     25.350000
PF       17.937500
PF-SF    27.300000
PG       19.547742
PG-SG    37.200000
SF       17.514557
SF-SG    20.340000
SG       18.554271
SG-PG    22.950000
SG-SF    19.620000
Name: MP, dtype: float64